@import "https://unpkg.com/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

*,
*:after,
*:before {
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

:root {
    --gap: 1rem;
    --card-width: clamp(280px, 20vw, 100vw);
    --card-aspect-ratio: 5 / 7;
    --card-height: calc(var(--card-width) * (7 / 5));
    --primary: #094b65;
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #10221b;
}

/** 
-----------------Navbar---------------
*/

section {
    padding: 5rem 9%;
}

.heading {
    text-align:center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
}

.header .logo i {
    color: #219150;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
}

.header .navbar a:hover {
    color: #219150;
}

.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}

.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
    color: #219150; 
}

.header #menu-btn {
    display: none;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
}

.search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

.search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #10221b;
    font-size: 6rem;
}

.search-form #close-search:hover {
    color: #219150;
}

.search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
}

.search-form form input::-webkit-input-placeholder {
    color: #aaa;
}

.search-form form input:-ms-input-placeholder {
    color: #aaa;
}

.search-form form input::-ms-input-placeholder {
    color: #aaa;
}

.search-form form input::placeholder {
    color: #aaa;
}

.search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}

.search-form form label:hover {
    color: #219150;
}

@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
        scroll-padding-top: 7rem;
    }
}

@media (max-width: 768px) {
    .header #menu-btn {
        display:inline-block;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: -110%;
        background: #fff;
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .header .navbar.active {
        left: 0;
        -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
        margin: 1rem 0;
        font-size: 3rem;
    }
    .header .navbar #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
}


/* 
-----------------Navbar ends--------------
  */

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, var(--card-width));
    gap: 1rem;
    /* overflow: hidden shouldn't break this? */
    overflow: hidden;
}

.column {
    display: grid;
    gap: 1rem;
    align-content: start;
}

.column:not(:nth-of-type(3)) {
    animation: scale 1s linear both;
    animation-timeline: scroll(root);
}

.column:is(:nth-of-type(2), :nth-of-type(4)) {
    --origin: calc(var(--gap) * -1);
    --destination: calc(var(--card-height) * 1.5 + var(--gap));
}

.column:is(:nth-of-type(1), :nth-of-type(5)) {
    --origin: calc(var(--gap) * -2);
    --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@keyframes scale {
    0% {
        transform: translateY(var(--origin, 0%));
    }
    100% {
        transform: translateY(var(--destination, -50%));
    }
}

img {
    max-width: 100%;
    border: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
    aspect-ratio: 5 / 7;
    background: hsl(0 0% 80%);
}

/* 
-------------------FOOTER--------------------------
*/

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(43deg, rgba(2,0,36,1) 25%, rgba(7,142,170,1) 100%);
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }

.footer .col ul li img{
    width: 40px;
    height: 40px;
    background: none;
}

  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }